pandas
numpy
matplotlib
seaborn
tqdm
scikit-learn
sentence-transformers
chromadb
plotly
openai
graphviz
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-community
langchain-ollama